body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f1f8ff;
  padding: 20px;
}

#webcam {
  width: 300px;
  border: 2px solid #00aaff;
  margin-bottom: 20px;
  border-radius: 10px;
}

#products {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 20px 0;
}

.card {
  padding: 15px;
  background: #d4f0fc;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

#cart-box {
  margin-top: 20px;
  background: #d1ffd6;
  padding: 15px;
  border-radius: 10px;
}

#checkout.hidden {
  display: none;
}
